* {
    margin: 0;
    padding: 0;
}

.d-block {
    display: block;
}

#container {
    margin: 0 auto;
    display: flex;
    height: calc(100vh - 1px);
    align-items: center;
    justify-content: center;
}

.btn {
    font-weight: 700;
}

.setSize, .setColor {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid lightslategrey;
    text-align: center;
}

.btnSubmit {
    width: 195px;
}

.setColor {
    width: 61px;
    margin-right: 5px;
}

.setColor:last-child {
    margin-right: 0;
}